In [2]:
import numpy as np 
import pandas as pd

In [29]:
flows= pd.read_excel("Results_for_regression_route2.xlsx", sheet_name = "flows")
flows

,Type,Flow,Unit,111,442,622,532
0,input,Nitrogen (N2),m³,13.792364,13.792364,13.792364,13.792364
1,input,Sulfuric acid (95%),t,0.309106,0.307315,0.307456,0.307385
2,input,Water,t,1.132924,1.521467,1.091921,1.130294
3,input,Iron,t,0.001332,0.001332,0.001332,0.001332
4,input,Hydrogen peroxide,t,0.055610,0.056966,0.053318,0.055138
5,input,Sodium hydroxide,t,0.616772,0.613167,0.613501,0.613333
6,input,Kerosene,t,0.000162,0.000165,0.000159,0.000162
7,input,Cyanex 272,t,0.000011,0.000014,0.000012,0.000013
8,input,Cyanex 301GN,t,0.000048,0.000049,0.000047,0.000048
9,input,D2EHPA,t,0.000027,0.000026,0.000025,0.000025
10,input,Sodium carbonate,t,0.083337,0.083337,0.083337,0.083337
11,input,Electricity,kWh,1184.469357,1202.025302,1126.155367,1160.973994
12,input,Natural gas,m³,0.000000,0.000000,0.000000,0.000000
13,output,Electricity,kWh,8.646405,8.646405,8.646405,8.646405
14,output,Aluminium,t,0.294495,0.294495,0.294495,0.294495
15,output,Steel,t,0.091060,0.091060,0.091060,0.091060
16,output,Copper,t,0.083113,0.083113,0.083113,0.083113
17,output,Electronic waste,t,0.007595,0.007595,0.007595,0.007595
18,output,Cable,t,0.003253,0.003253,0.003253,0.003253
19,output,Waste (incineration),t,0.290560,0.172947,0.290560,0.290560
20,output,Electrolyte,t,0.000000,0.074287,0.000000,0.000000
21,output,Iron hydroxide Fe(OH)3,t,0.002345,0.002345,0.002345,0.002345
22,output,Kerosene,t,0.000162,0.000165,0.000159,0.000162
23,output,Cyanex 272,t,0.000011,0.000013,0.000012,0.000012
24,output,Cyanex 301GN,t,0.000046,0.000047,0.000045,0.000046
25,output,NiSO4 * 6 H2O,t,0.177555,0.211171,0.316994,0.264073
26,output,CoSO4 * 7 H2O,t,0.187990,0.223581,0.111879,0.167755
27,output,Graphite,t,0.000000,0.117613,0.000000,0.000000
28,output,Aluminium hydroxide,t,0.001423,0.001423,0.001423,0.001423
29,output,D2EHPA,t,0.000026,0.000024,0.000024,0.000024
30,output,MnSO4 * 1 H2O,t,0.114160,0.067887,0.067963,0.067915
31,output,Li2CO3 (anhydrous),t,0.064397,0.064397,0.064397,0.064397
32,output,Water,t,1.050472,1.059238,0.985159,1.022207
33,output,Wastewater,t,0.730516,0.730516,0.730516,0.730516
34,output,Wastewater,t,0.030840,0.000000,0.002430,0.004942

In [30]:
flows_shrt = flows.drop(columns=["Flow", "Type", "Unit"])
flows_shrt

            111          442          622          532
0     13.792364    13.792364    13.792364    13.792364
1      0.309106     0.307315     0.307456     0.307385
2      1.132924     1.521467     1.091921     1.130294
3      0.001332     0.001332     0.001332     0.001332
4      0.055610     0.056966     0.053318     0.055138
5      0.616772     0.613167     0.613501     0.613333
6      0.000162     0.000165     0.000159     0.000162
7      0.000011     0.000014     0.000012     0.000013
8      0.000048     0.000049     0.000047     0.000048
9      0.000027     0.000026     0.000025     0.000025
10     0.083337     0.083337     0.083337     0.083337
11  1184.469357  1202.025302  1126.155367  1160.973994
12     0.000000     0.000000     0.000000     0.000000
13     8.646405     8.646405     8.646405     8.646405
14     0.294495     0.294495     0.294495     0.294495
15     0.091060     0.091060     0.091060     0.091060
16     0.083113     0.083113     0.083113     0.083113
17     0.007595     0.007595     0.007595     0.007595
18     0.003253     0.003253     0.003253     0.003253
19     0.290560     0.172947     0.290560     0.290560
20     0.000000     0.074287     0.000000     0.000000
21     0.002345     0.002345     0.002345     0.002345
22     0.000162     0.000165     0.000159     0.000162
23     0.000011     0.000013     0.000012     0.000012
24     0.000046     0.000047     0.000045     0.000046
25     0.177555     0.211171     0.316994     0.264073
26     0.187990     0.223581     0.111879     0.167755
27     0.000000     0.117613     0.000000     0.000000
28     0.001423     0.001423     0.001423     0.001423
29     0.000026     0.000024     0.000024     0.000024
30     0.114160     0.067887     0.067963     0.067915
31     0.064397     0.064397     0.064397     0.064397
32     1.050472     1.059238     0.985159     1.022207
33     0.730516     0.730516     0.730516     0.730516
34     0.030840     0.000000     0.002430     0.004942

In [31]:
len(flows_shrt)

35

In [32]:
composition= pd.read_excel("Results_for_regression_route2.xlsx", sheet_name = "composition_T", 
                           dtype={'Battery': float, 'Nickel': float, 'Cobalt': float, 'Manganese': float})
print(composition.dtypes)
#composition = composition.T
#print(composition.dtypes)
#composition = composition.drop(["Flow", "Unit"])
composition

Battery      float64
Nickel       float64
Cobalt       float64
Manganese    float64
dtype: object

   Battery     Nickel     Cobalt  Manganese
0  578.275  27.517038  27.629563  25.757918
1  578.275  32.726709  32.860538  15.317272
2  578.275  49.126879  16.443238  15.334402
3  578.275  40.925311  24.655600  15.323609

In [18]:
#composition.reset_index(inplace=True) # Resets the index, makes factor a column
#composition

   level_0  index        0          1          2          3
0        0    111  578.275  27.517038  27.629563  25.757918
1        1    442  578.275  32.726709  32.860538  15.317272
2        2    622  578.275  49.126879  16.443238  15.334402
3        3    532  578.275  40.925311    24.6556  15.323609

In [22]:
#composition=composition.drop(columns= ["level_0", "index"])
#composition

         0          1          2          3
0  578.275  27.517038  27.629563  25.757918
1  578.275  32.726709  32.860538  15.317272
2  578.275  49.126879  16.443238  15.334402
3  578.275  40.925311    24.6556  15.323609

In [33]:
row_index = 0
row_array = flows_shrt.iloc[row_index].to_numpy()
row_array

array([13.79236373, 13.79236373, 13.79236373, 13.79236373])

In [34]:
x = np.linalg.solve(composition, row_array)
x

array([ 0.02385087,  0.        ,  0.        , -0.        ])

In [35]:
np.allclose(np.dot(composition, x), row_array)

True

In [36]:
factors = pd.DataFrame(columns=["Battery", "Nickel", "Cobalt", "Manganese"])

for ri in range(len(flows_shrt)):
    #print(ri)
    row_array = flows_shrt.iloc[ri].to_numpy()
    x = np.linalg.solve(composition, row_array)

    # Convert the array to a DataFrame (1 row, 4 columns)
    new_row = pd.DataFrame([x], columns=factors.columns)

    # Append the new row to the DataFrame
    factors = pd.concat([factors, new_row], ignore_index=True)

factors

         Battery        Nickel        Cobalt     Manganese
0   2.385087e-02  0.000000e+00  0.000000e+00 -0.000000e+00
1  -3.805788e+04  2.720234e+05  2.720234e+05  2.720234e+05
2  -4.280387e+12  3.059460e+13  3.059460e+13  3.059460e+13
3   2.303831e-06  0.000000e+00  0.000000e+00 -0.000000e+00
4  -1.202798e+08  8.597143e+08  8.597143e+08  8.597143e+08
5   1.531949e-03 -3.426260e-03 -3.446268e-03 -3.090929e-03
6  -8.720586e+03  6.233146e+04  6.233146e+04  6.233146e+04
7  -3.645704e-01  2.605812e+00  2.605812e+00  2.605812e+00
8  -2.591254e+03  1.852131e+04  1.852131e+04  1.852131e+04
9  -2.073003e+03  1.481705e+04  1.481705e+04  1.481705e+04
10  1.441139e-04  0.000000e+00  0.000000e+00 -0.000000e+00
11 -7.593577e+13  5.427603e+14  5.427603e+14  5.427603e+14
12  0.000000e+00  0.000000e+00  0.000000e+00 -0.000000e+00
13  1.495206e-02  0.000000e+00  0.000000e+00 -0.000000e+00
14  5.092639e-04  0.000000e+00  0.000000e+00 -0.000000e+00
15  1.574686e-04  0.000000e+00  0.000000e+00 -0.000000e+00
16  1.437264e-04  0.000000e+00  0.000000e+00 -0.000000e+00
17  1.313389e-05  0.000000e+00  0.000000e+00 -0.000000e+00
18  5.624967e-06  0.000000e+00  0.000000e+00 -0.000000e+00
19  1.426796e+12 -1.019820e+13 -1.019820e+13 -1.019820e+13
20 -9.011895e+11  6.441363e+12  6.441363e+12  6.441363e+12
21  4.055749e-06  0.000000e+00  0.000000e+00 -0.000000e+00
22 -8.720586e+03  6.233146e+04  6.233146e+04  6.233146e+04
23 -3.472099e-01  2.481725e+00  2.481725e+00  2.481725e+00
24 -2.467861e+03  1.763934e+04  1.763934e+04  1.763934e+04
25  9.180976e-05  5.796335e-03 -6.562216e-04 -6.562216e-04
26  5.277299e-04 -3.772014e-03  3.031932e-03 -3.772014e-03
27 -1.426796e+12  1.019820e+13  1.019820e+13  1.019820e+13
28  2.461591e-06  0.000000e+00  0.000000e+00 -0.000000e+00
29 -1.974289e+03  1.411147e+04  1.411147e+04  1.411147e+04
30 -2.678596e-04  1.914560e-03  1.914560e-03  6.346606e-03
31  1.113607e-04  0.000000e+00  0.000000e+00 -0.000000e+00
32 -1.203178e+08  8.599863e+08  8.599863e+08  8.599863e+08
33  1.263268e-03  0.000000e+00  0.000000e+00 -0.000000e+00
34  9.053621e+10 -6.471187e+11 -6.471187e+11 -6.471187e+11

In [37]:
factors.to_excel("regression_results_route2.xlsx")

In [38]:
print(type(composition))
print(composition.dtypes)
print(type(row_array))
print(row_array.dtype)

<class 'pandas.core.frame.DataFrame'>
Battery      float64
Nickel       float64
Cobalt       float64
Manganese    float64
dtype: object
<class 'numpy.ndarray'>
float64

In [28]:
composition = np.array(composition, dtypes=np.float64)
print(composition.dtypes)

TypeError: array() got an unexpected keyword argument 'dtypes'

In [39]:
# Ensure both DataFrames have the same number of rows
if len(flows) != len(factors):
    raise ValueError("Both DataFrames must have the same number of rows")

# Create the new DataFrame with the desired structure
lci_relative_battery = pd.DataFrame({
    'lci_id': 'route2',
    'direction': flows['Type'],
    'influencer': 'Battery',
    'influenced': flows['Flow'],
    'qty': factors['Battery'],
    'unit': 'kg'
})

lci_relative_battery.to_csv("relative_battery_route2.csv", index=False, sep=";")
lci_relative_battery

    lci_id direction influencer              influenced           qty unit
0   route2     input    Battery           Nitrogen (N2)  2.385087e-02   kg
1   route2     input    Battery     Sulfuric acid (95%) -3.805788e+04   kg
2   route2     input    Battery                   Water -4.280387e+12   kg
3   route2     input    Battery                    Iron  2.303831e-06   kg
4   route2     input    Battery       Hydrogen peroxide -1.202798e+08   kg
5   route2     input    Battery        Sodium hydroxide  1.531949e-03   kg
6   route2     input    Battery                Kerosene -8.720586e+03   kg
7   route2     input    Battery             Cyanex 272  -3.645704e-01   kg
8   route2     input    Battery            Cyanex 301GN -2.591254e+03   kg
9   route2     input    Battery                  D2EHPA -2.073003e+03   kg
10  route2     input    Battery        Sodium carbonate  1.441139e-04   kg
11  route2     input    Battery             Electricity -7.593577e+13   kg
12  route2     input    Battery             Natural gas  0.000000e+00   kg
13  route2    output    Battery             Electricity  1.495206e-02   kg
14  route2    output    Battery               Aluminium  5.092639e-04   kg
15  route2    output    Battery                   Steel  1.574686e-04   kg
16  route2    output    Battery                  Copper  1.437264e-04   kg
17  route2    output    Battery        Electronic waste  1.313389e-05   kg
18  route2    output    Battery                   Cable  5.624967e-06   kg
19  route2    output    Battery    Waste (incineration)  1.426796e+12   kg
20  route2    output    Battery             Electrolyte -9.011895e+11   kg
21  route2    output    Battery  Iron hydroxide Fe(OH)3  4.055749e-06   kg
22  route2    output    Battery                Kerosene -8.720586e+03   kg
23  route2    output    Battery              Cyanex 272 -3.472099e-01   kg
24  route2    output    Battery            Cyanex 301GN -2.467861e+03   kg
25  route2    output    Battery           NiSO4 * 6 H2O  9.180976e-05   kg
26  route2    output    Battery           CoSO4 * 7 H2O  5.277299e-04   kg
27  route2    output    Battery                Graphite -1.426796e+12   kg
28  route2    output    Battery     Aluminium hydroxide  2.461591e-06   kg
29  route2    output    Battery                  D2EHPA -1.974289e+03   kg
30  route2    output    Battery           MnSO4 * 1 H2O -2.678596e-04   kg
31  route2    output    Battery      Li2CO3 (anhydrous)  1.113607e-04   kg
32  route2    output    Battery                   Water -1.203178e+08   kg
33  route2    output    Battery              Wastewater  1.263268e-03   kg
34  route2    output    Battery              Wastewater  9.053621e+10   kg

In [40]:
# Ensure both DataFrames have the same number of rows
if len(flows) != len(factors):
    raise ValueError("Both DataFrames must have the same number of rows")

# Create the new DataFrame with the desired structure
lci_relative_nickel = pd.DataFrame({
    'lci_id': 'route2',
    'direction': flows['Type'],
    'influencer': 'Nickel',
    'influenced': flows['Flow'],
    'qty': factors['Nickel'],
    'unit': 'kg'
})

lci_relative_nickel.to_csv("relative_nickel_route2.csv", index=False, sep=";")
lci_relative_nickel

    lci_id direction influencer              influenced           qty unit
0   route2     input     Nickel           Nitrogen (N2)  0.000000e+00   kg
1   route2     input     Nickel     Sulfuric acid (95%)  2.720234e+05   kg
2   route2     input     Nickel                   Water  3.059460e+13   kg
3   route2     input     Nickel                    Iron  0.000000e+00   kg
4   route2     input     Nickel       Hydrogen peroxide  8.597143e+08   kg
5   route2     input     Nickel        Sodium hydroxide -3.426260e-03   kg
6   route2     input     Nickel                Kerosene  6.233146e+04   kg
7   route2     input     Nickel             Cyanex 272   2.605812e+00   kg
8   route2     input     Nickel            Cyanex 301GN  1.852131e+04   kg
9   route2     input     Nickel                  D2EHPA  1.481705e+04   kg
10  route2     input     Nickel        Sodium carbonate  0.000000e+00   kg
11  route2     input     Nickel             Electricity  5.427603e+14   kg
12  route2     input     Nickel             Natural gas  0.000000e+00   kg
13  route2    output     Nickel             Electricity  0.000000e+00   kg
14  route2    output     Nickel               Aluminium  0.000000e+00   kg
15  route2    output     Nickel                   Steel  0.000000e+00   kg
16  route2    output     Nickel                  Copper  0.000000e+00   kg
17  route2    output     Nickel        Electronic waste  0.000000e+00   kg
18  route2    output     Nickel                   Cable  0.000000e+00   kg
19  route2    output     Nickel    Waste (incineration) -1.019820e+13   kg
20  route2    output     Nickel             Electrolyte  6.441363e+12   kg
21  route2    output     Nickel  Iron hydroxide Fe(OH)3  0.000000e+00   kg
22  route2    output     Nickel                Kerosene  6.233146e+04   kg
23  route2    output     Nickel              Cyanex 272  2.481725e+00   kg
24  route2    output     Nickel            Cyanex 301GN  1.763934e+04   kg
25  route2    output     Nickel           NiSO4 * 6 H2O  5.796335e-03   kg
26  route2    output     Nickel           CoSO4 * 7 H2O -3.772014e-03   kg
27  route2    output     Nickel                Graphite  1.019820e+13   kg
28  route2    output     Nickel     Aluminium hydroxide  0.000000e+00   kg
29  route2    output     Nickel                  D2EHPA  1.411147e+04   kg
30  route2    output     Nickel           MnSO4 * 1 H2O  1.914560e-03   kg
31  route2    output     Nickel      Li2CO3 (anhydrous)  0.000000e+00   kg
32  route2    output     Nickel                   Water  8.599863e+08   kg
33  route2    output     Nickel              Wastewater  0.000000e+00   kg
34  route2    output     Nickel              Wastewater -6.471187e+11   kg

In [41]:
# Ensure both DataFrames have the same number of rows
if len(flows) != len(factors):
    raise ValueError("Both DataFrames must have the same number of rows")

# Create the new DataFrame with the desired structure
lci_relative_cobalt = pd.DataFrame({
    'lci_id': 'route2',
    'direction': flows['Type'],
    'influencer': 'Cobalt',
    'influenced': flows['Flow'],
    'qty': factors['Cobalt'],
    'unit': 'kg'
})

lci_relative_cobalt.to_csv("relative_cobalt_route2.csv", index=False, sep=";")
lci_relative_cobalt

    lci_id direction influencer              influenced           qty unit
0   route2     input     Cobalt           Nitrogen (N2)  0.000000e+00   kg
1   route2     input     Cobalt     Sulfuric acid (95%)  2.720234e+05   kg
2   route2     input     Cobalt                   Water  3.059460e+13   kg
3   route2     input     Cobalt                    Iron  0.000000e+00   kg
4   route2     input     Cobalt       Hydrogen peroxide  8.597143e+08   kg
5   route2     input     Cobalt        Sodium hydroxide -3.446268e-03   kg
6   route2     input     Cobalt                Kerosene  6.233146e+04   kg
7   route2     input     Cobalt             Cyanex 272   2.605812e+00   kg
8   route2     input     Cobalt            Cyanex 301GN  1.852131e+04   kg
9   route2     input     Cobalt                  D2EHPA  1.481705e+04   kg
10  route2     input     Cobalt        Sodium carbonate  0.000000e+00   kg
11  route2     input     Cobalt             Electricity  5.427603e+14   kg
12  route2     input     Cobalt             Natural gas  0.000000e+00   kg
13  route2    output     Cobalt             Electricity  0.000000e+00   kg
14  route2    output     Cobalt               Aluminium  0.000000e+00   kg
15  route2    output     Cobalt                   Steel  0.000000e+00   kg
16  route2    output     Cobalt                  Copper  0.000000e+00   kg
17  route2    output     Cobalt        Electronic waste  0.000000e+00   kg
18  route2    output     Cobalt                   Cable  0.000000e+00   kg
19  route2    output     Cobalt    Waste (incineration) -1.019820e+13   kg
20  route2    output     Cobalt             Electrolyte  6.441363e+12   kg
21  route2    output     Cobalt  Iron hydroxide Fe(OH)3  0.000000e+00   kg
22  route2    output     Cobalt                Kerosene  6.233146e+04   kg
23  route2    output     Cobalt              Cyanex 272  2.481725e+00   kg
24  route2    output     Cobalt            Cyanex 301GN  1.763934e+04   kg
25  route2    output     Cobalt           NiSO4 * 6 H2O -6.562216e-04   kg
26  route2    output     Cobalt           CoSO4 * 7 H2O  3.031932e-03   kg
27  route2    output     Cobalt                Graphite  1.019820e+13   kg
28  route2    output     Cobalt     Aluminium hydroxide  0.000000e+00   kg
29  route2    output     Cobalt                  D2EHPA  1.411147e+04   kg
30  route2    output     Cobalt           MnSO4 * 1 H2O  1.914560e-03   kg
31  route2    output     Cobalt      Li2CO3 (anhydrous)  0.000000e+00   kg
32  route2    output     Cobalt                   Water  8.599863e+08   kg
33  route2    output     Cobalt              Wastewater  0.000000e+00   kg
34  route2    output     Cobalt              Wastewater -6.471187e+11   kg

In [42]:
# Ensure both DataFrames have the same number of rows
if len(flows) != len(factors):
    raise ValueError("Both DataFrames must have the same number of rows")

# Create the new DataFrame with the desired structure
lci_relative_manganese = pd.DataFrame({
    'lci_id': 'route2',
    'direction': flows['Type'],
    'influencer': 'Manganese',
    'influenced': flows['Flow'],
    'qty': factors['Manganese'],
    'unit': 'kg'
})

lci_relative_manganese.to_csv("relative_manganese_route2.csv", index=False, sep=";")
lci_relative_manganese

    lci_id direction influencer              influenced           qty unit
0   route2     input  Manganese           Nitrogen (N2) -0.000000e+00   kg
1   route2     input  Manganese     Sulfuric acid (95%)  2.720234e+05   kg
2   route2     input  Manganese                   Water  3.059460e+13   kg
3   route2     input  Manganese                    Iron -0.000000e+00   kg
4   route2     input  Manganese       Hydrogen peroxide  8.597143e+08   kg
5   route2     input  Manganese        Sodium hydroxide -3.090929e-03   kg
6   route2     input  Manganese                Kerosene  6.233146e+04   kg
7   route2     input  Manganese             Cyanex 272   2.605812e+00   kg
8   route2     input  Manganese            Cyanex 301GN  1.852131e+04   kg
9   route2     input  Manganese                  D2EHPA  1.481705e+04   kg
10  route2     input  Manganese        Sodium carbonate -0.000000e+00   kg
11  route2     input  Manganese             Electricity  5.427603e+14   kg
12  route2     input  Manganese             Natural gas -0.000000e+00   kg
13  route2    output  Manganese             Electricity -0.000000e+00   kg
14  route2    output  Manganese               Aluminium -0.000000e+00   kg
15  route2    output  Manganese                   Steel -0.000000e+00   kg
16  route2    output  Manganese                  Copper -0.000000e+00   kg
17  route2    output  Manganese        Electronic waste -0.000000e+00   kg
18  route2    output  Manganese                   Cable -0.000000e+00   kg
19  route2    output  Manganese    Waste (incineration) -1.019820e+13   kg
20  route2    output  Manganese             Electrolyte  6.441363e+12   kg
21  route2    output  Manganese  Iron hydroxide Fe(OH)3 -0.000000e+00   kg
22  route2    output  Manganese                Kerosene  6.233146e+04   kg
23  route2    output  Manganese              Cyanex 272  2.481725e+00   kg
24  route2    output  Manganese            Cyanex 301GN  1.763934e+04   kg
25  route2    output  Manganese           NiSO4 * 6 H2O -6.562216e-04   kg
26  route2    output  Manganese           CoSO4 * 7 H2O -3.772014e-03   kg
27  route2    output  Manganese                Graphite  1.019820e+13   kg
28  route2    output  Manganese     Aluminium hydroxide -0.000000e+00   kg
29  route2    output  Manganese                  D2EHPA  1.411147e+04   kg
30  route2    output  Manganese           MnSO4 * 1 H2O  6.346606e-03   kg
31  route2    output  Manganese      Li2CO3 (anhydrous) -0.000000e+00   kg
32  route2    output  Manganese                   Water  8.599863e+08   kg
33  route2    output  Manganese              Wastewater -0.000000e+00   kg
34  route2    output  Manganese              Wastewater -6.471187e+11   kg